{{#if @horizontal}}
	<div class="col-auto border-right">
		<dt class="text-muted">
			{{@key}}
			{{#if @tooltip}}
				{{!-- <a href="#" class="text-muted ml-2" {{tooltip @tooltip}}><FaIcon @icon="info-circle" /></a> --}}
				<a href="#" class="text-muted ml-2"><i class="fas fa-info-circle" {{tooltip @tooltip}}></i></a>
			{{/if}}
		</dt>
		<dd class="" ...attributes>
			{{#if @alt}}
				<span class="text-disabled">{{@alt}}</span>
			{{else}}
				{{yield}}
			{{/if}}
		</dd>
	</div>
{{else}}
	<dt class="col-4 text-muted">{{@key}}</dt>
	<dd class="col-8" ...attributes>
		{{#if @alt}}
			<span class="text-disabled">{{@alt}}</span>
		{{else}}
			{{yield}}
		{{/if}}
	</dd>
{{/if}}
