<Ui::Modal @title={{@title}} @onClose={{@onCancel}}>
	<div class="mb-3">
		{{yield}}
	</div>
	<div class="btn-toolbar" role="toolbar">
		<div class="btn-group mr-2" role="group">
			<button type="button" class="btn btn-secondary">7</button>
			<Ui::Button @submit={{true}} @color={{if @color @color "danger"}} @disabled={{@disabled}} @loading={{@loading}} @onClick={{@onConfirm}}>{{@confirmTitle}}</Ui::Button>
		</div>
		<div class="btn-group" role="group">
			<Ui::Button @onClick={{@onCancel}}>Cancel</Ui::Button>
		</div>
	</div>
</Ui::Modal>
