<Ui::Modal @title={{@title}} @onClose={{@onCancel}} as |modal|>
	<modal.body>
		{{yield}}
	</modal.body>
	<modal.footer>
		<Ui::Button @size="sm" @onClick={{@onCancel}}>Cancel</Ui::Button>
		<Ui::Button @size="sm" @color={{if @color @color "danger"}} @disabled={{@disabled}} @loading={{@loading}} @onClick={{@onConfirm}}>{{@confirmTitle}}</Ui::Button>
	</modal.footer>
	{{!-- <div class="btn-toolbar" role="toolbar">
		<div class="btn-group btn-group-sm me-2" role="group">
			<Ui::Button @submit={{true}} @color={{if @color @color "danger"}} @disabled={{@disabled}} @loading={{@loading}} @onClick={{@onConfirm}}>{{@confirmTitle}}</Ui::Button>
		</div>
		<div class="btn-group btn-group-sm" role="group">
			<Ui::Button @onClick={{@onCancel}}>Cancel</Ui::Button>
		</div>
	</div> --}}
</Ui::Modal>
