{{! button }}
<Ui::Button {{dropdown}}>
	<FaIcon @icon="filter" />&nbsp; Filter
	{{#if this.selections}}&nbsp;{{this.selections.length}}{{/if}}
</Ui::Button>

{{! dropdown }}
<Ui::Dropdown @align="right" @linger={{true}} class="p-0">
	<form novalidate="true" {{on "submit" this.done}}>
		<Ui::ListGroup @flush={{true}} as |listGroup|>

			<listGroup.item class="bg-light px-2">
				<Ui::Toolbar @size="sm" class="justify-content-between" as |toolbar|>
					<toolbar.group as |group|>
						<group.button @onClick={{this.clear}}>Clear</group.button>
					</toolbar.group>
					<toolbar.group as |group|>
						<group.button @submit={{true}} @color="primary">Done</group.button>
					</toolbar.group>
				</Ui::Toolbar>
			</listGroup.item>

			{{#each this.predicates as |predicate|}}

				<label class="list-group-item px-2">
					<input checked={{or predicate.value (gt predicate.value.length 0)}} type="checkbox" class="form-check-input me-1" {{on "change" (fn this.toggle predicate)}}>
					{{predicate.name}}
				</label>

				{{#if predicate.value}}
					<listGroup.item class="bg-light px-2">

						{{#if (eq predicate.type "date")}}

							<select class="form-select form-select-sm mb-2" {{on "change" (action (mut predicate.mode) value="target.value" )}}>
								<option value="inTheLast" selected={{eq predicate.mode "inTheLast" }}>is in the last</option>
								<option value="equals" selected={{eq predicate.mode "equals" }}>is equal to</option>
								<option value="between" selected={{eq predicate.mode "between" }}>is between</option>
								<option value="isAfter" selected={{eq predicate.mode "isAfter" }}>is after</option>
								<option value="isAfterOrOn" selected={{eq predicate.mode "isAfterOrOn" }}>is on or after</option>
								<option value="isBefore" selected={{eq predicate.mode "isBefore" }}>is before</option>
								<option value="isBeforeOrOn" selected={{eq predicate.mode "isBeforeOrOn" }}>is before or on</option>
							</select>

							{{#if (eq predicate.mode "inTheLast")}}
								<Input @value={{predicate.valueA}} @type="number" class="form-control form-control-sm mb-2" required="true" />
								<select class="form-select form-select-sm" {{on "change" (action (mut predicate.valueB) value="target.value" )}}>
									<option value="days" selected={{eq predicate.valueB "days" }}>Days</option>
									<option value="months" selected={{eq predicate.valueB "months" }}>Months</option>
								</select>
							{{else if (eq predicate.mode "between")}}
								<div class="d-flex align-items-center">
									<div>
										<DateInput @value={{predicate.valueA}} class="form-control form-control-sm" required="true" @onChange={{fn (mut predicate.valueA)}} />
									</div>
									<div class="small mx-3">
										and
									</div>
									<div>
										<DateInput @value={{predicate.valueB}} class="form-control form-control-sm" required="true" @onChange={{fn (mut predicate.valueB)}} />
									</div>
								</div>
							{{else}}
								<DateInput @value={{predicate.valueA}} class="form-control form-control-sm" required="true" @onChange={{fn (mut predicate.valueA)}} />
							{{/if}}

						{{else if (eq predicate.type "multi")}}

							{{#each predicate.options as |opt|}}
								<div class="form-check">
									<input checked={{includes opt.value predicate.value}} type="checkbox" id={{opt.value}} class="form-check-input" {{on "change" (fn this.toggleMulti predicate opt.value)}}>
									<label class="form-check-label" for={{opt.value}}>{{opt.label}}</label>
								</div>
							{{/each}}

						{{else if (eq predicate.type "string")}}

							<Input @value={{predicate.value}} @type="text" class="form-control form-control-sm" />

						{{else}}

							<select class="form-select form-select-sm" {{on "change" (fn this.select predicate)}}>
								{{#each predicate.options as |opt|}}
									<option value={{opt.value}} selected={{eq predicate.value opt.value}}>{{opt.label}}</option>
								{{/each}}
							</select>

						{{/if}}
					</listGroup.item>
				{{/if}}

			{{/each}}

		</Ui::ListGroup>
	</form>
</Ui::Dropdown>
