{{! button }}
<Ui::Button {{dropdown}}>
	<FaIcon @icon="filter" />&nbsp; Filter
	{{#if this.selections}}&nbsp;{{this.selections.length}}{{/if}}
</Ui::Button>

{{! dropdown }}
<Ui::Dropdown @align="right" @linger={{true}} class="p-0">
	<Ui::ListGroup @flush={{true}} as |listGroup|>

		<listGroup.item class="bg-light px-2">
			<Ui::Toolbar @size="sm" class="justify-content-between" as |toolbar|>
				<toolbar.group as |group|>
					<group.button @onClick={{this.clear}}>Clear</group.button>
				</toolbar.group>
				<toolbar.group as |group|>
					<group.button @color="primary" @onClick={{this.done}}>Done</group.button>
				</toolbar.group>
			</Ui::Toolbar>
		</listGroup.item>
			
		{{#each this.filters as |predicate index|}}

			<label class="list-group-item px-2">
				<Input @checked={{predicate.value}} @type="checkbox" class="form-check-input me-1" {{on "change" (fn this.toggle index)}} />
				{{predicate.name}}
			</label>

			{{#if predicate.value}}
				<listGroup.item class="bg-light px-2">
					<select class="form-select form-select-sm" {{on "change" (fn this.select predicate)}}>
						{{#each predicate.options as |opt optIndex|}}
							<option value={{optIndex}} selected={{eq predicate.value opt}}>{{opt}}</option>
						{{/each}}
					</select>
					{{#if (eq predicate.type "date")}}
						<div class="d-flex align-items-center mt-2">
							<div>
								{{!-- <Ui::DatePicker @value={{filter.checked.from}} @onChange={{fn (mut filter.checked.from)}} /> --}}
								<DateInput @value={{predicate.checked.from}} class="form-control form-control-sm" required="true" @onChange={{fn (mut predicate.checked.from)}} />
							</div>
							<div class="mx-3">
								<FaIcon @icon="arrow-right" />
							</div>
							<div>
								{{!-- <Ui::DatePicker @value={{filter.checked.to}} @onChange={{fn (mut filter.checked.to)}} /> --}}
								<DateInput @value={{predicate.checked.to}} class="form-control form-control-sm" required="true" @onChange={{fn (mut predicate.checked.to)}} />
							</div>
						</div>
					{{/if}}
				</listGroup.item>
			{{/if}}

		{{/each}}
		
	</Ui::ListGroup>
</Ui::Dropdown>
