<nav>
	<ul class="pagination justify-content-center">
		{{#if this.canPrev}}
			<li class="page-item"><a class="page-link bg-primary text-light" href="#" {{on "click" @onPrevious}}>Previous</a></li>
		{{/if}}

		{{#each this.pages as |page index|}}
			{{#if (and (gte index this.range.min) (lte index this.range.max))}}
				<li class="page-item {{if (eq @curPage index) "active" }}"><a class="page-link" href="#" {{on "click" (fn @onSelect index)}}>{{inc index}}</a></li>
			{{/if}}
		{{/each}}

		{{#if this.canNext}}
			<li class="page-item"><a class="page-link bg-primary text-light" href="#" {{on "click" @onNext}}>Next</a></li>
		{{/if}}
	</ul>
</nav>
