<div class="accordion-item" ...attributes>
	<h2 class="accordion-header">
		{{yield (hash
			button=(component "ui/accordion/button" item=this show=@show)
		)}}
	</h2>
	<div class="accordion-collapse collapse {{if @show "show"}}" id={{this.id}} data-bs-parent="#{{@accordion.id}}">
		{{yield (hash
			body=(component "ui/accordion/body")
		)}}
	</div>
</div>
