<div class="accordion-item">
	<h2 class="accordion-header">
		<button class="accordion-button {{if (not-eq @index 0) "collapsed"}}" type="button" data-toggle="collapse" data-target="#collapse{{@index}}">
			{{@heading}}
		</button>
	</h2>
	<div id="collapse{{@index}}" class="accordion-collapse collapse {{if (eq @index 0) "show"}}" data-parent="#accordion">
		<div class="accordion-body">
			{{yield}}
		</div>
	</div>
</div>
